## 1Ô∏è‚É£ Introduction to SQL

SQL (Structured Query Language) is the standard language to interact with relational databases.

A database stores data in tables.

A table consists of rows (records) and columns (fields).

SQL lets you create tables, insert data, retrieve data, and manipulate data.
Popular systems: SQL Server, MySQL, PostgreSQL, Oracle.

### Core Components of SQL
| Command Type                           | Examples                     | Purpose                           |
| -------------------------------------- | ---------------------------- | --------------------------------- |
| **DDL** (Data Definition Language)     | `CREATE`, `ALTER`, `DROP`    | Structure objects (tables, views) |
| **DML** (Data Manipulation Language)   | `INSERT`, `UPDATE`, `DELETE` | Change data                       |
| **DQL** (Data Query Language)          | `SELECT`                     | Retrieve data                     |
| **DCL** (Data Control Language)        | `GRANT`, `REVOKE`            | Permissions                       |
| **TCL** (Transaction Control Language) | `COMMIT`, `ROLLBACK`         | Control transactions              |

## 2Ô∏è‚É£ Understanding Databases & Tables

A database is like a folder, and tables are files within it.

Primary Key: A column (or set of columns) that uniquely identifies each row.

Foreign Key: A column in one table that references the primary key in another table.

Data Types:

- INT for whole numbers

- VARCHAR(n) for text

- DATE for dates

- DECIMAL(p,s) for precise numeric values            |

In [0]:
%sql
CREATE TABLE Employees (
  EmployeeID INT PRIMARY KEY,
  FirstName VARCHAR(50),
  LastName VARCHAR(50),
  HireDate DATE,
  Salary DECIMAL(10,2),
  Department VARCHAR(50)
);

In [0]:
%sql
INSERT INTO Employees (EmployeeID, FirstName, LastName, HireDate, Salary, Department)
VALUES 
  (1, 'John', 'Doe', '2020-01-01', 50000, 'IT'),
  (2, 'Kim', 'Vander', '2021-03-15', 60000, 'HR'),
  (3, 'Alice', 'Smith', '2019-07-10', 75000, 'Finance'),
  (4, 'Bob', 'Brown', '2022-02-20', 48000, 'IT'),
  (5, 'Carol', 'White', '2018-11-05', 82000, 'Marketing'),
  (6, 'David', 'Lee', '2023-05-12', 51000, 'IT');

## 3Ô∏è‚É£ Retrieving Data with SELECT

The SELECT statement reads data from tables.

SELECT * retrieves all columns.

You can specify column names to retrieve only what you need.

Aliases rename columns for clarity.

In [0]:
%sql
-- SELECT * FROM Employees;
-- SELECT FirstName, LastName FROM Employees;
SELECT FirstName AS FName, LastName AS LName FROM Employees;

## 4Ô∏è‚É£ Filtering Data with WHERE

The WHERE clause filters rows based on conditions.

Operators:

Comparison: =, <>, >, <, >=, <=

Logical: AND, OR, NOT

In [0]:
%sql
-- SELECT * FROM Employees WHERE Department = 'IT';
SELECT * FROM Employees WHERE Salary > 50000 AND Department <> 'HR';

## 5Ô∏è‚É£ Sorting Results with ORDER BY

Use ORDER BY to arrange rows.

Default is ascending (ASC).

Use DESC for descending order.

In [0]:
%sql
SELECT * FROM Employees ORDER BY LastName ASC;
-- SELECT * FROM Employees ORDER BY Salary DESC;

## 6Ô∏è‚É£ Limiting Results

Get only a few rows:

SQL Server: TOP

MySQL/PostgreSQL: LIMIT

In [0]:
%sql
SELECT * FROM Employees LIMIT 5;    
-- SELECT TOP 5 * FROM Employees;

## 7Ô∏è‚É£ Using Basic Functions

SQL has built-in functions for text, numbers, and dates.

String Functions:

- UPPER(Column) ‚Äì uppercase

- LOWER(Column) ‚Äì lowercase

- LEN() or LENGTH() ‚Äì string length

Numeric Functions:

- ROUND(Column, decimals) ‚Äì round numbers

- ABS(Column) ‚Äì absolute value

Date/Time Functions:

- GETDATE() (SQL Server) or NOW() (MySQL/PostgreSQL) ‚Äì current date/time

In [0]:
%sql
-- SELECT UPPER(FirstName), ROUND(Salary,2) FROM Employees;
SELECT GETDATE();

## 8Ô∏è‚É£ Aliases & Expressions
You can create calculated columns and rename them.

In [0]:
%sql
SELECT salary, Salary * 1.1 AS NewSalary FROM Employees;

## 9Ô∏è‚É£ Handling NULL Values

NULL means missing or unknown data.

Use IS NULL / IS NOT NULL to filter.

Use COALESCE() or ISNULL() to replace NULL with defaults.

In [0]:
%sql
-- SELECT * FROM Employees WHERE ManagerID IS NULL;
-- SELECT COALESCE(CAST(Phone AS STRING), FirstName) AS Phone FROM Employees;

-- SELECT isnull(ManagerID) AS IsManagerIDNull FROM Employees;
SELECT isnull(Phone) AS IsPhoneNull FROM Employees;

## üîü Modifying Data (Insert, Update, Delete)

ALTER: Add a new column

In [0]:
%sql

-- ALTER TABLE Employees
-- ADD COLUMN ManagerID VARCHAR(100);


ALTER TABLE Employees
ADD COLUMNS (ManagerID VARCHAR(100), Phone BIGINT);

ALTER: drop a column

In [0]:
%sql
ALTER TABLE Employees
DROP COLUMN ManagerID;

This is required only for Delta Tables ( Not required for Sql server)

In [0]:
%sql
-- ALTER TABLE Employees SET TBLPROPERTIES ('delta.columnMapping.mode' = 'name')

INSERT: Add new rows

In [0]:
%sql
INSERT INTO Employees (EmployeeID, ManagerID, Phone)
VALUES (7,'NULL', 952455)

In [0]:
%sql
INSERT INTO Employees (EmployeeID, FirstName, LastName, HireDate, Salary, Department, ManagerID, Phone)
VALUES (2,'kim','vander','22-09-2024',60000, 'IT','1', 9040000404);

UPDATE: Change existing rows

In [0]:
%sql
UPDATE Employees SET Salary = 77000 WHERE EmployeeID = 1;

DELETE: Remove rows

In [0]:
%sql
DELETE FROM Employees WHERE EmployeeID = 1;

DROP: drop the table

In [0]:
%sql
drop table employees

## üîü+1 Putting It All Together (Practice Scenario)

- Create your own table (e.g., Students):

- Insert 5 rows.

- Retrieve and filter with SELECT & WHERE.

- Sort by marks.

- Use UPPER on names.

- Add a calculated column (Marks + 5 Bonus).

- Handle NULL marks using COALESCE.

- Update one record, delete one record.

- This exercise covers everything learned above in one go.