## 1Ô∏è‚É£ Working with Multiple Tables (Joins)

Combine data from two or more tables based on related columns.

| Join Type  | What It Returns                                  |
| ---------- | ------------------------------------------------ |
| INNER JOIN | Only matching rows in both tables                |
| LEFT JOIN  | All rows from left table + matching from right   |
| RIGHT JOIN | All rows from right table + matching from left   |
| FULL OUTER | All rows from both tables (matches + nonmatches) |

In [0]:
SELECT *
FROM Customers c
right JOIN Orders o
  ON c.CustomerID = o.customerID;

## 2Ô∏è‚É£ Grouping & Aggregating Data

Aggregate functions summarize data; 

- GROUP BY groups rows so aggregates work per group.

- HAVING filters groups after aggregation (while WHERE filters rows before aggregation).

In [0]:
-- SELECT Department, sum(salary) AS NumEmployees
-- FROM Employees
-- GROUP BY Department having count(*)>1

SELECT Department, AVG(Salary) AS AvgSalary
FROM Employees
GROUP BY Department
HAVING AVG(Salary) > 60000;

## 3Ô∏è‚É£ Subqueries (Intro)

A subquery is a query inside another query.

In [0]:
-- Subquery in WHERE
SELECT FirstName, Salary
FROM Employees
WHERE Salary > (SELECT AVG(Salary) FROM Employees);

-- Subquery in FROM (derived table)
SELECT Department, MaxSalary
FROM (
  SELECT Department, MAX(Salary) AS MaxSalary
  FROM Employees
  GROUP BY Department
) AS DeptMax;

## 4Ô∏è‚É£ Basic Set Operations

Combine results from multiple queries.

In [0]:
SELECT City FROM Customers
UNION
SELECT City FROM Suppliers;         -- removes duplicates

SELECT City FROM Customers
UNION ALL
SELECT City FROM Suppliers;         -- keeps duplicates

## 5Ô∏è‚É£ Data Modification ‚Äì Beyond Basics

You can insert from one table to another, or delete/update with conditions across tables.

In [0]:
-- Insert from another table
INSERT INTO FormerEmployees (EmployeeID, Name, Department)
SELECT EmployeeID, FirstName, Department
FROM Employees
WHERE ManagerID is not null ;

## 6Ô∏è‚É£ Data Constraints & Integrity

Constraints maintain valid data.

Primary Key ‚Äì uniquely identifies a row

Foreign Key ‚Äì enforces relationship between tables

NOT NULL ‚Äì column must have value

UNIQUE ‚Äì no duplicates

DEFAULT ‚Äì assigns a default value

In [0]:
CREATE TABLE Departments (
  DepartmentID INT PRIMARY KEY,
  DepartmentName VARCHAR(50) NOT NULL UNIQUE
);

## 7Ô∏è‚É£ Built-in Functions (More)

String Functions

- CONCAT(col1,col2)

- SUBSTRING(col, start, length)

- TRIM(col)

- REPLACE(col, 'old', 'new')

Date Functions

- DATEADD(interval, number, date)

- DATEDIFF(interval, date1, date2)

- DATEPART(part, date)

Conditional Expression

- CASE WHEN condition THEN value ELSE other END

In [0]:
-- SELECT CONCAT(FirstName,' ',LastName) AS FullName FROM Employees;
-- SELECT lastName, SUBSTRING(LastName,1,1) FROM Employees;
SELECT CASE WHEN Salary>60000 THEN 'High' ELSE 'Normal' END AS SalaryLevel FROM Employees;

## 8Ô∏è‚É£ Views (Intro)

A view is a saved SQL query that behaves like a virtual table.
It can simplify complex queries and provide a layer of security.

In [0]:
CREATE VIEW HighSalaryEmployees AS
SELECT FirstName, Salary
FROM Employees
WHERE Salary > 70000;

SELECT * FROM HighSalaryEmployees;

## 9Ô∏è‚É£ Transactions (Intro)

Transactions group multiple operations so they succeed or fail together.

In [0]:
BEGIN TRANSACTION;

UPDATE Accounts SET Balance = Balance - 500 WHERE AccountID = 1;
UPDATE Accounts SET Balance = Balance + 500 WHERE AccountID = 2;

COMMIT;   -- if all good
-- or
ROLLBACK; -- to undo if error

## üîü Security Basics

Basic permissions in SQL.

In [0]:
GRANT SELECT ON Employees TO AnalystUser;
REVOKE SELECT ON Employees FROM AnalystUser;

## üîü+1 Putting It All Together (Practice Scenario)

Create two tables: Customers and Orders.

Insert some rows in both.

Perform:

- INNER JOIN to see which customers placed orders.

- GROUP BY to count orders per customer.

- Subquery to find customers with above-average orders.

- Create a view to show active customers.

- Use a transaction to insert an order and update inventory together.

- Add constraints to enforce data integrity.