## _🗂 Sample Tables Overview_

| Table           | Purpose                                 |
| --------------- | --------------------------------------- |
| **Departments** | List of departments (for joins)         |
| **Employees**   | Employees with salaries, department IDs |
| **Customers**   | Customers placing orders                |
| **Orders**      | Orders placed by customers              |
| **Suppliers**   | supplied by                             |

## 1️⃣ Departments Table

In [0]:
CREATE TABLE Departments (
  DepartmentID INT PRIMARY KEY,
  DepartmentName STRING NOT NULL
);

INSERT INTO Departments (DepartmentID, DepartmentName) VALUES
(1,'IT'),
(2,'HR'),
(3,'Finance'),
(4,'Marketing');

## 2️⃣ Employees Table

In [0]:
CREATE TABLE Employees (
  EmployeeID INT PRIMARY KEY,
  FirstName STRING,
  LastName STRING,
  DepartmentID INT,
  Salary DECIMAL(10,2),
  HireDate DATE,
  ManagerID INT,
  Phone STRING
);

INSERT INTO Employees (
  EmployeeID, FirstName, LastName, DepartmentID, Salary, HireDate, ManagerID, Phone
) VALUES
(101,'John','Smith',1,75000,'2020-02-10',NULL,'555-1234'),
(102,'Mary','Johnson',2,60000,'2019-07-15',101,'555-5678'),
(103,'James','Brown',1,82000,'2021-01-20',101,NULL),
(104,'Patricia','Davis',3,55000,'2018-10-05',102,'555-3456'),
(105,'Robert','Wilson',4,50000,'2022-03-18',NULL,'555-7890');

## 3️⃣ Customers Table

In [0]:
CREATE TABLE Customers (
  CustomerID INT,
  CustomerName STRING,
  City STRING,
  JoinDate DATE DEFAULT CURRENT_DATE
)
TBLPROPERTIES (
  'delta.feature.allowColumnDefaults' = 'enabled'
);

INSERT INTO Customers (
  CustomerID, CustomerName, City, JoinDate
) VALUES
(1,'Alice','New York','2021-05-10'),
(2,'Bob','Los Angeles','2022-07-21'),
(3,'Charlie','Chicago','2023-01-15'),
(4,'Diana','Houston','2023-03-30');

## 4️⃣ Orders Table

In [0]:
CREATE TABLE Orders (
  OrderID INT PRIMARY KEY,
  CustomerID INT,
  OrderDate DATE,
  Amount DECIMAL(10,2),
  Status VARCHAR(20)
);

INSERT INTO Orders (OrderID, CustomerID, OrderDate, Amount, Status) VALUES
(1001,1,'2023-04-05',150.00,'Completed'),
(1002,1,'2023-05-12',200.00,'Pending'),
(1003,2,'2023-06-15',300.00,'Completed'),
(1004,3,'2023-07-22',120.00,'Cancelled'),
(1005,4,'2023-08-10',500.00,'Completed');

## 5️⃣ Suppliers Table

In [0]:
CREATE TABLE Suppliers (
  supplierID INT PRIMARY KEY,
  supplierName VARCHAR(50) NOT NULL,
  City VARCHAR(50),
  suppliedDate DATE 
);

INSERT INTO Suppliers (supplierID, supplierName, City, suppliedDate) VALUES
(1,'Klin','New York','2021-05-05'),
(2,'konm','Los Angeles','2022-07-05'),
(3,'david','Chicago','2023-01-05'),
(4,'mark','new York','2023-03-15');

## FormerEmployees Table

In [0]:
CREATE TABLE FormerEmployees (
  EmployeeID INT,
  Name VARCHAR(100),
  Department VARCHAR(50)
);
INSERT INTO FormerEmployees (EmployeeID, Name, Department)
SELECT EmployeeID, FirstName, Department
FROM employees
WHERE ManagerID IS NULL;

## 🧩 What You Can Practice With These Tables

| Concept          | Example Query                              |
| ---------------- | ------------------------------------------ |
| **INNER JOIN**   | Employees + Departments                    |
| **LEFT JOIN**    | Customers + Orders                         |
| **GROUP BY**     | Orders by Customer                         |
| **HAVING**       | Customers with total order amount > 300    |
| **Subquery**     | Employees earning above avg salary         |
| **Views**        | Create a view of high-salary employees     |
| **Transactions** | Transfer an order, update customer         |
| **Constraints**  | Check primary key, foreign key enforcement |